.env
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfvars
.terraform.tfstate.lock.info
.queue.tf.swp
node_modules
package-lock.json
run.sh
